---
import { indieCasterConfig } from "../../indiecaster.config.js";

import AnnounceBar from "../components/AnnounceBar.astro";
import EpisodeProfiles from "../components/EpisodeProfiles.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HeadDefault from "../components/HeadDefault.astro";
import DefaultHeroPlayer from "../components/DefaultHeroPlayer.astro";
import MetaIcons from "../components/MetaIcons.astro";
import OpenGraph from "../components/OpenGraph.astro";
import StructuredData from "../components/StructuredData.astro";
import Subscribe from "../components/Subscribe.astro";
import ThemeProvider from "../components/ThemeProvider.astro";
import Youtube from "../components/Youtube.astro";

const { frontmatter, entry } = Astro.props;
const showAnnounceBar = import.meta.env.ANNOUNCEBAR_ENABLED === "true";
const { metaLanguage, podcastName } = indieCasterConfig;
const {
  description,
  title,
  youtube,
  artwork,
  pubDate,
  duration,
  episodeNumber,
  season,
  guests,
  tags,
  audioFile,
} = frontmatter;
const episode = {
  artwork: artwork, // Pass the complete artwork object
  url: frontmatter.audioFile,
};

// Generate episode URL
const episodeUrl = `https://${indieCasterConfig.domain}/episodes/${entry.slug}/`;
const audioUrl = `https://${indieCasterConfig.domain}/audio/episodes/${audioFile}.mp3`;
---

<!doctype html>
<html lang={metaLanguage}>
  <head>
    <HeadDefault
      metaDescription={description}
      metaPageTitle={title}
      podcastName={podcastName}
    />
    <OpenGraph
      title={title}
      description={description}
      url={episodeUrl}
      type="music.song"
    />
    <MetaIcons />
    <StructuredData
      type="episode"
      data={{
        title,
        description,
        episodeNumber,
        season,
        duration,
        pubDate,
        audioUrl,
        guests,
        tags,
      }}
    />
  </head>
  <body class="episode-page">
    <ThemeProvider>
      {showAnnounceBar && <AnnounceBar />}
      <Header />
      <main class="girdle episode-content-container">
        <DefaultHeroPlayer episode={episode} />
        <h1>{title}</h1>
        <EpisodeProfiles episode={Astro.props.entry} />
        {
          youtube && (
            <Youtube
              title="IndieCaster Promo - A Complete Website Toolkit For Indie Podcasters"
              youtubeVideoId={youtube}
            />
          )
        }
        <slot />
      </main>
      <Subscribe />
      <Footer />
    </ThemeProvider>
  </body>
</html>
